<div class="container-fill container">
    <img src="/images/sad.png" style="display: block; margin: 0 auto; margin-top: 25%; max-width: 25%">
    <h1 style="text-align: center;">Coming soon!</h1>
    <p style="text-align: center;">We're still working on this part of the website. Check back soon!</p>

    <br>

    <p style="text-align: center;">You can follow <a href="https://twitter.com/llewkcorj">johnsama</a> on Twitter for updates.</p>
</div>