<div class="container-fill">
    <div class="container" style="margin-top: 16px;">
        <div class="embed-responsive embed-responsive-16by9" style="margin-top: 16px; margin-bottom: 16px;">
            <iframe class="embed-responsive-item animated fadeIn" src="https://www.youtube.com/embed/g1Sa-UFf-yA" style="display: block; margin: 0 auto;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="home-header animated fadeIn">
            <h5 style="font-size: 1rem; letter-spacing: 4px; margin: 0; text-align: center;">WELCOME TO</h5>
            <h1 style="font-family: 'Archivo Black', sans-serif; font-size: 5rem; margin: 0; line-height: 1; text-align: center;">ARES</h1>
            <p style="display: block; margin: 0 auto; text-align: center; max-width: 100%; font-size: 0.85rem;">Ares is a competitive Minecraft server that focuses on player-driven conflict. Ares is designed to create experiences that are curated by the players.</p>
            <hr style="border-top: 1px solid black; max-width: 50%;">
        </div>

        <div class="row home-cards animated zoomIn delay-1s">
            <div class="col-sm">
                <div class="card text-center hvr-float-shadow" style="width: 100%; margin-bottom: 16px;">
                    <img src="/images/network.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Networks</h5>
                        <p class="card-text">Create or join a network and establish your claims on a 10,000 x 10,000 map.</p>
                        <a href="/getting-started#network" class="btn btn-dark">See Networks</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-center hvr-float-shadow" style="width: 100%; margin-bottom: 16px;">
                    <img src="/images/claim.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Land Claiming</h5>
                        <p class="card-text">Reinforce your land with in-game resources to protect yourself from being raided.</p>
                        <a href="/getting-started#claiming" class="btn btn-dark">See Land Claims</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-center hvr-float-shadow" style="width: 100%; margin-bottom: 16px;">
                    <img src="/images/factory.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Factories</h5>
                        <p class="card-text">Automate the production of valuable resources.</p>
                        <a href="/getting-started#factory" class="btn btn-dark">See Factories</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row home-cards animated zoomIn delay-2s">
            <div class="col-sm">
                <div class="card text-center hvr-float-shadow" style="width: 100%; margin-bottom: 16px;">
                    <img src="/images/snitch.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Snitches</h5>
                        <p class="card-text">Be notified of a players whereabouts if they come within range.</p>
                        <a href="/getting-started#snitch" class="btn btn-dark">See Snitches</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-center hvr-float-shadow" style="width: 100%; margin-bottom: 16px;">
                    <img src="/images/acid.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Acid</h5>
                        <p class="card-text">Burn through enemy reinforcements without lifting a finger.</p>
                        <a href="/getting-started#acid" class="btn btn-dark">See Acid Blocks</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-center hvr-float-shadow" style="width: 100%; margin-bottom: 16px;">
                    <img src="/images/bastion.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Bastions</h5>
                        <p class="card-text">Prevent others from reinforcing blocks in your claims.</p>
                        <a href="/getting-started#bastion" class="btn btn-dark">See Bastions</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row home-cards animated zoomIn delay-3s">
            <div class="col-sm">
                <div class="card text-center hvr-float-shadow" style="width: 100%; margin-bottom: 16px;">
                    <img src="/images/prisonpearl.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Prison Pearl</h5>
                        <p class="card-text">Imprison players you kill in an Enderpearl for up to 14 days.</p>
                        <a href="/getting-started#prisonpearl" class="btn btn-dark">See Prison Pearls</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-center hvr-float-shadow" style="width: 100%; margin-bottom: 16px;">
                    <img src="/images/world2.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Vanilla Modifications</h5>
                        <p class="card-text">Explore all the changes we've made to the vanilla game.</p>
                        <a href="/getting-started#world" class="btn btn-dark">See World</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card text-center hvr-float-shadow" style="width: 100%; margin-bottom: 16px;">
                    <img src="/images/devlog.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Frequent Updates</h5>
                        <p class="card-text">This server is constantly being updated by a dedicated team.</p>
                        <a href="https://www.reddit.com/r/Ares/comments/g7u9um/ares_start_of_the_world_announcement_information/" class="btn btn-dark">See Newest Dev Log</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>