<div class="container-fill container">
    <div class="row">
        <div class="col-sm animated fadeIn delay-1s">
            <img src="/images/cave.png" style="width: 100%; margin-top: 16px; margin-bottom: 16px;">
        </div>

        <div class="col-sm my-auto animated fadeIn">
            <h1 style="font-family: 'Archivo Black', sans-serif; font-size: 1.5rem; margin-bottom: 16px; text-align: center;">ARES PARTNERSHIP BENEFITS</h1>

            <p style="text-align: center;">In-game Partner Rank & Perks</p>
            <p style="text-align: center;">Your content will be featured through all of our media channels</p>
        </div>
    </div>

    <br>

    <h1 style="text-align: center; font-family: 'Archivo Black', sans-serif;">BECOME A PARTNER</h1>
    <iframe style="display: block; margin: 0 auto;" src="https://docs.google.com/forms/d/e/1FAIpQLSeGfHkH9JAQk_irsYPwrx9Kc5yp2wEWj1_ujIkLPOXl8LOb5Q/viewform?embedded=true" width="640" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>