<h1 style="text-align: center; color: black!important;">Hey, {{username}}</h1>
<p style="text-align: center; color: black!important;">Thank you for joining the Ares community. Please confirm your email address by clicking the link below.</p>

<a class="btn btn-dark btn-sm" href="https://playares.com/account/confirm/{{id}}" role="button" style="display: block; margin: 0 auto; text-align: center; margin-top: 16px; margin-bottom: 16px; color: black!important; font-size: 1.2rem;">Confirm Email</a>

<p style="text-align: center; color: black!important;">If you did not sign up for an account you can ignore this email.</p>

<br>

<p style="text-align: center; color: black!important;">Thank you and we hope you have fun playing Ares!</p>
<p style="text-align: center; color: black!important;">The Ares Team</p>